@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');


body{
  margin: 0;
  font-size: 20px;
  font-family: 'Chango', cursive;
}

.app{
  background-color: #FCF5C4;
  width: 100%;
  display:grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-gap: 15px;
  grid-template-columns: 1fr 5fr;
}

.navbar,.profile,.header{
  margin: 0;
  padding: 10px;
  background-color: #6CA1F8;

}

.header{
grid-area: h;
}




.navbar{
grid-area: n;


}



.content{
grid-area: c;
}



