.navbar{
	text-align: center;
	padding: 0;
}

.navbar a{
  display: block;
  padding: 20px 0;
  transition-duration: 0.5s;
  border-radius: 14px;
  
}

.navbar a:hover{
  background-color: white;
  cursor: pointer;
  
}